/* html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
} */

/* a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
 */

.notodoc {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.notodoc-header {
    height: 70px;
    /* background: red; */
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem;
}

.notodoc-scaffold {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.notodoc-main {
    display: flex;
    /* background: lightblue; */
    flex: 1;
}

.notodoc-drawer {
    width: 100%;
    max-width: 320px;
    display: flex;
    border-right: 1px solid #e0e0e0;
    padding: 2rem;
}

.notodoc-content {
    display: flex;
    padding: 2rem;
    overflow-y: scroll;
    flex: 1;
    height: calc(100vh - 70px);
}

.notodoc-drawer-page-link {
    margin-bottom: 2rem;
    display: block;
    text-decoration: none;
    color: #616161;
}

.notodoc-drawer-page-link:hover {
    color: #424242;
}

.notodoc-drawer-page-link-wrapper {
}

.notodoc-drawer-group-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
    color: #212121;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 1.25px;
}

.notodoc-logo-container {
    display: flex;
    align-items: center;
}

.notodoc-logo-text {
    font-weight: 600;
    margin-left: 12px;
}
